<template>
    <div>
        <div v-for="contact in contactList" :key="contact">
            {{contact}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "CompanyContactList",
        data() {
            let contactList = [];

            return {
                contactList
        }
        }
    }
</script>

<style scoped>

</style>