<template>
    <div>
        <el-row>
            <el-col :span="12">
        <el-form :model="form" label-width="120px" class="company-form">
            <el-form-item label="Role"  class="segment" required>
                <el-button v-on:click="showTree">Add</el-button>
            </el-form-item>

            <el-form-item label="Name" prop="name" class="item" required>
                <el-input v-model="companyForm.name"></el-input>
            </el-form-item>
            <el-form-item label="Adresse 1" prop="adresse1" class="item" required>
                <el-input v-model="companyForm.adresse1"></el-input>
            </el-form-item>
            <el-form-item label="Adresse 2" prop="adresse1" class="item">
                <el-input v-model="companyForm.adresse1"></el-input>
            </el-form-item>
            <el-col>
                <el-form-item label="ZIP" prop="zip" class="zip" required>
                    <el-input v-model="companyForm.zip"></el-input>
                </el-form-item>
            </el-col>
            <el-col>
                <el-form-item label="City" prop="city" class="city" required>
                    <el-input v-model="companyForm.npa"></el-input>
                </el-form-item>
            </el-col>
            <el-col>
                <el-form-item label="Country" prop="country" class="item" required>
                    <el-input v-model="companyForm.country"></el-input>
                </el-form-item>
            </el-col>
        </el-form>

            </el-col>
        <el-col :span="12">
            <div v-if="showingTree">
                <SectorTree></SectorTree>
            </div>
        </el-col>
        </el-row>

    </div>




</template>

<script>
    import SectorTree from "./edit/SectorTree";
    export default {
        name: "CompanyEdit",
        components: {SectorTree},
        data() {
            let form = {
                role: null,
                name: null,
                email: null,
                phone: null,
                skype: null
            };

            let showingTree = false;



            return {
                form, filterText : '', showingTree
            };
        },


        methods: {

            showTree() {
                this.showingTree = !this.showingTree;
            }
        },
    }
</script>

<style scoped>
    .company-form {
        text-align: left;
    }

    .item {
        width: 500px;
    }

    .zip {
        width: 200px;
    }

    .city {
        width: 100%;
    }

    .segment {
        width: 380px;
    }
</style>