<template>
    <div>

        <div class="block">
            <el-cascader
                    expand-trigger="hover"
                    :options="options"
                    v-model="selected"
                    @change="handleChange">
            </el-cascader>
    </div>
    </div>
</template>

<script>
    export default {
        name: "SectorSelect",
        data() {
            let defaultProps= {
                children: 'children',
                label: 'label'
            };
            let options = [
                {
                value: '1',
                label: 'Leder',
                children: [{
                    value: '11',
                    label: 'Oberleder Schuhe',
                },
                    {
                        value: '12',
                        label: 'Futterleder Schuhe',
                    },
                    {
                        value: '13',
                        label: 'Orthopädie',
                    }, {
                        value: '14',
                        label: 'Sohlenleder',
                    }]
            },

                {
                    value: '2',
                    label: 'Textil & Stoffe',
                    children: [{
                        value: '21',
                        label: 'Obermat. Schuhe'
                    }, {
                        value: '22',
                        label: 'Futtermat. Schuhe'
                    }]
                },
                {
                    value: '3',
                    label: 'Synthetik',
                    children: [{
                        value: '31',
                        label: 'Obermat. Schuhe'
                    }, {
                        value: '32',
                        label: 'Futtermat. Schuhe'
                    }]
                },
                {
                    value: '4',
                    label: 'Tex Material',
                    children: [{
                        value: '41',
                        label: 'Brands'
                    }, {
                        value: '42',
                        label: 'Private Tex Mat.'
                    }]
                }
                ,
                {
                    value: '5',
                    label: 'Strick-Schäfte',
                    children: [{
                        value: '51',
                        label: 'engineered Mesh'
                    }, {
                        value: '52',
                        label: 'Flachstrick'
                    },
                        {
                            value: '53',
                            label: 'Strickschaft  3D'
                        }]
                },
                {
                    value: '6',
                    label: 'Verschlüsse',
                    children: [{
                        value: '61',
                        label: 'Schmuck'
                    }, {
                        value: '62',
                        label: 'Schnallen'
                    },
                        {
                            value: '63',
                            label: 'Ösen'
                        }]
                },
                {
                    value: '7',
                    label: 'Reißverschlüsse',
                    children: [{
                        value: '71',
                        label: 'Reißverschlüsse'
                    }, {
                        value: '72',
                        label: 'Velcro'
                    }]
                },
                {
                    value: '8',
                    label: 'Senkel',
                    children: [{
                        value: '81',
                        label: 'Senkel'
                    }, {
                        value: '82',
                        label: 'Litzen'
                    },
                        {
                            value: '83',
                            label: 'Bänder'
                        }
                    ],

                },
                {
                    value: '9',
                    label: 'Zwischen Mat.',
                    children: [{
                        value: '91',
                        label: 'Bügelstoffe'
                    }, {
                        value: '92',
                        label: 'Verstärkungen'
                    },
                        {
                            value: '93',
                            label: 'Zwischenfutter'
                        }
                        ,
                        {
                            value: '94',
                            label: 'Schaumstoffe'
                        }
                    ],

                },
                {
                    value: '9',
                    label: 'Zwischen Mat.',
                    children: [{
                        value: '91',
                        label: 'Bügelstoffe'
                    }, {
                        value: '92',
                        label: 'Verstärkungen'
                    },
                        {
                            value: '93',
                            label: 'Zwischenfutter'
                        }
                        ,
                        {
                            value: '94',
                            label: 'Schaumstoffe'
                        }
                    ],

                },
                {
                    value: '10',
                    label: 'Technische  Mat.',
                    children: [{
                        value: '101',
                        label: 'Vorderkappen'
                    }, {
                        value: '102',
                        label: 'Hinterkappen'
                    },
                        {
                            value: '103',
                            label: 'Brandsohlen'
                        }
                        ,
                        {
                            value: '104',
                            label: 'Fußbetten'
                        },
                        {
                            value: '105',
                            label: 'Decksohlen'
                        }
                    ],

                }
                ,
                {
                    value: '11',
                    label: 'Chemische  Mat.',
                    children: [{
                        value: '111',
                        label: 'Klebstoffe'
                    }, {
                        value: '112',
                        label: 'Finish'
                    },
                    ],

                },
                {
                    value: '12',
                    label: 'Garne / Nadeln',
                    children: [{
                        value: '121',
                        label: 'Garne'
                    }, {
                        value: '122',
                        label: 'Nadel'
                    },
                    ],

                },
                {
                    value: '13',
                    label: 'Sohlen / Absätze',
                    children: [{
                        value: '131',
                        label: 'PU'
                    }, {
                        value: '132',
                        label: 'Gummi'
                    },
                        {
                            value: '133',
                            label: 'TR'
                        },
                        {
                            value: '134',
                            label: 'EVA'
                        },
                        {
                            value: '135',
                            label: 'TPU'
                        },
                    ],

                },
                {
                    value: '14',
                    label: 'Rohstoffe',
                    children: [{
                        value: '141',
                        label: 'PU'
                    }, {
                        value: '142',
                        label: 'TR'
                    },
                        {
                            value: '143',
                            label: 'Latex'
                        },
                    ],

                },
                {
                    value: '15',
                    label: 'Verpackungen',
                    children: [{
                        value: '151',
                        label: 'Einzelpaarkarton'
                    }, {
                        value: '152',
                        label: 'Umkarton'
                    },
                        {
                            value: '153',
                            label: 'Seidenpapier'
                        },
                        {
                            value: '154',
                            label: 'sonstige'
                        },
                    ],

                }



            ];
            let selected;
            return {defaultProps, options, filterText : "", selected};
        },
        watch: {
            filterText(val) {
                this.$refs.tree2.filter(val);
            }
        },
        methods: {

        filterNode(value, data) {
            if (!value) return true;
            return data.label.indexOf(value) !== -1;
        },
            handleChange(value) {
                console.log(value);
            }},
    }
</script>

<style scoped>

</style>