<template>
    <div>
        <h3>Firma Stammdaten</h3>
        <el-row>
            <el-col :span="12">
        <el-form :model="companyForm" label-width="120px" class="company-form">
            <el-form-item label="Warensegment"  class="segment" required>
                <el-button v-on:click="showTree">Add</el-button>
            </el-form-item>

            <el-form-item label="Name" prop="name" class="item" required>
                <el-input v-model="companyForm.name"></el-input>
            </el-form-item>
            <el-form-item label="Adresse 1" prop="adresse1" class="item" required>
                <el-input v-model="companyForm.adresse1"></el-input>
            </el-form-item>
            <el-form-item label="Adresse 2" prop="adresse1" class="item">
                <el-input v-model="companyForm.adresse1"></el-input>
            </el-form-item>
            <el-col>
                <el-form-item label="ZIP" prop="zip" class="zip" required>
                    <el-input v-model="companyForm.zip"></el-input>
                </el-form-item>
            </el-col>
            <el-col>
                <el-form-item label="City" prop="city" class="city" required>
                    <el-input v-model="companyForm.npa"></el-input>
                </el-form-item>
            </el-col>
            <el-col>
                <el-form-item label="Country" prop="country" class="item" required>
                    <el-input v-model="companyForm.country"></el-input>
                </el-form-item>
            </el-col>
        </el-form>

            </el-col>
        <el-col :span="12">
            <div v-if="showingTree">
                <SectorTree></SectorTree>
            </div>
        </el-col>
        </el-row>

    </div>




</template>

<script>
    export default {
        name: "ContactEdit",
        data() {
            let companyRoles = ["Owner", "Buy", "Development", "Production", "Logistic", "Administration"]
            let companyForm = {
                name: null,
                adresse1: null,
                adresse2: null,
                zip: null,
                city: null,
                segment: null,
                company: null
            };

            let showingTree = false;



            return {
                companyForm, filterText : '', showingTree, companyRoles
            };
        },


        methods: {

            showTree() {
                this.showingTree = !this.showingTree;
            }
        },
    }
</script>

<style scoped>
    .company-form {
        text-align: left;
    }

    .item {
        width: 500px;
    }

    .zip {
        width: 200px;
    }

    .city {
        width: 100%;
    }

    .segment {
        width: 380px;
    }
</style>