<template>
    <div>
        <el-row :gutter="20">
            <el-col :span="4"><MenuLateral></MenuLateral></el-col>
            <el-col :span="20"> <router-view></router-view></el-col>
        </el-row>

    </div>
</template>

<script>
    import MenuLateral from "./MenuLateral";
    export default {
        name: "CompanyMain",
        components: {MenuLateral}
    }
</script>

<style scoped>

</style>