<template>
    <div>
        <!--<img alt="Quasar logo" src="~assets/running.svg" style="width: 300px; height: 300px">-->

        <div class="catalog-title">
            Company Information
        </div>
        <div id="container" class="flex flex-center">
        </div>

        <el-row>
            <el-col :span="2"><div>Quality</div></el-col>
            <el-col :span="2"><div>{{company.quality}}</div></el-col>
        </el-row>
        <el-row>
            <el-col :span="2"><div>Service</div></el-col>
            <el-col :span="2"><div>{{company.service}}</div></el-col>
        </el-row>
        <el-row>
            <el-col :span="2"><div>Name</div></el-col>
            <el-col :span="2"><div>{{company.name}}</div></el-col>
        </el-row>
        <el-row>
            <el-col :span="2"><div>Adress</div></el-col>
            <el-col :span="2"><div></div></el-col>
        </el-row>
        <el-row>
            <el-col :span="2"><div>&nbsp;</div></el-col>
            <el-col :span="5">{{company.adress1}}<div></div></el-col>
        </el-row>
        <el-row>
            <el-col :span="2"><div>&nbsp;</div></el-col>
            <el-col :span="5">{{company.adress2}}<div></div></el-col>
        </el-row>
        <el-row>
            <el-col :span="2"><div>&nbsp;</div></el-col>
            <el-col :span="5">{{company.adress3}}<div></div></el-col>
        </el-row>


            <q-item>
                <q-item-main inset>
                    <q-item-tile sublabel>Registry</q-item-tile>
                    <q-item-tile label>{{company.registry}}</q-item-tile>
                    <q-item-tile sublabel>Company Nr</q-item-tile>
                    <q-item-tile label>{{company.companyNr}}</q-item-tile>
                </q-item-main>
            </q-item>

            <q-item>
                <q-item-side icon="face" color="primary" />
                <q-item-main>
                    <q-item-tile sublabel>Management</q-item-tile>
                    {{company.contacts.management.name}}, {{company.contacts.management.phone}}
                    <q-item-tile sublabel>Registry</q-item-tile>
                    {{company.contacts.sales.name}}, {{company.contacts.sales.phone}}
                </q-item-main>
            </q-item>

    </div>
</template>

<style lang="css">
    .catalog-title {
        text-align: center;
        margin-top: 10px;
        font-size: 3em;
        color: #a1a1a1;
    }
    .list-content {
        text-align: left;
        padding-left: 100px;
    }

    .list-title {
        text-align: left;
        width: 300px;
    }

</style>
<script>

    export default {
        name: 'CompanyView',

        data: function () {
            return {
                company: {
                    name: 'Mike Shoes',
                    adress1: 'Auhofstraße 110',
                    adress2: '84048 Mainburg',
                    adress3: 'Deutschland',
                    registry: 'A123455',
                    companyNr: '1EEE1423',
                    contacts: {
                        management: { name: 'July Anders', phone: '00000' },
                        sales: { name: 'Micky Mouse', phone: '234324' }
                    },
                    score: {
                        quality: '5',
                        service: '3'
                    }
                }
            }
        }
        // components: { 'product-data': ProductData }
    }
</script>
