<template>
    <el-aside width="200px" style="background-color: rgb(238, 241, 246); text-align: left">
        <el-menu :default-openeds="['1', '3']">
            <el-submenu index="1">
                <template slot="title"><i class="el-icon-message"></i>My Company</template>
                <el-menu-item-group>
                    <el-menu-item index="1-1"><router-link tag="a" to="/company/edit">Main address</router-link></el-menu-item>
                    <el-menu-item index="1-2">Contacts</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title"><i class="el-icon-menu"></i>Catalog</template>
                <el-menu-item-group>
                    <el-menu-item index="2-1">Current</el-menu-item>
                    <el-menu-item index="2-1">Planned</el-menu-item>
                    <el-menu-item index="2-2">Archived</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-submenu index="3">
                <template slot="title"><i class="el-icon-setting"></i>Orders</template>
                <el-menu-item-group>
                    <el-menu-item index="3-1">Open orders</el-menu-item>
                    <el-menu-item index="3-2">Closed</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-submenu index="4">
                <template slot="title"><i class="el-icon-setting"></i>Analytics</template>
                <el-menu-item-group>
                    <el-menu-item index="4-1">Market analysis</el-menu-item>

                </el-menu-item-group>
            </el-submenu>
        </el-menu>
    </el-aside>
</template>

<script>
    export default {
        name: "MenuLateral"
    }
</script>

<style scoped>

</style>