<template>
    <div class="login">
        <h3>DFS Login</h3>
       <el-input
                v-model="email"
                placeholder="Email address"
                required  style="width: 400px; padding-bottom: 10px">
        </el-input>
        <br/>

        <el-input placeholder="Password" v-model="password" show-password required style="width: 400px; padding-bottom: 10px"></el-input>


        <br/>
        <el-button v-on:click="login">Login</el-button>

    </div>
</template>
<script>
    import firebase from 'firebase'
    import { mapMutations,mapGetters } from 'vuex'

    export default {
        name: 'login',
        data: function() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            ...mapMutations([
                'setUser'
            ]),
            ...mapGetters([
                'loggedUser'
            ]),

            login () {
                firebase.auth().signInWithEmailAndPassword(this.email, this.password).then((user) => {
                    this.setUser(user);
                    this.$router.push('/')
                }).catch((err) => {
                })
            }
        }
    }
</script>