<template>
    <div style="text-align: left">
        <i class="el-icon-plus" v-on:click="open" style="font-size: 1em; margin-right: 10px"></i>
        <span class="category">{{category.name}}</span>
        <div v-if="opened">
            <div v-for="subcategory in category.options" :key="subcategory" style="margin-left: 10px; margin-top: 10px;">
                <el-checkbox v-model="checked"></el-checkbox>
                <span class="subcategory">{{subcategory}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FilterElement",
        props: ["category"],
        data() {
            let checked=false;
            let opened=false;
            return {
                checked, opened
            }
        },
        methods: {
            open: function() {
                this.opened = !this.opened;
            }
        }
    }
</script>

<style scoped>

</style>