<template>
    <div style="text-align: left">

    <div class="space-bottom-10">
        <span class="space-bottom category" style="padding-bottom: 20px">Price range</span>
    </div>
    <div class="space-bottom-10">

    <div class="space-bottom">
        <input type="text" pInputText style="width: 80px"/> - <input  type="text" pInputText style="width: 80px"/></div>
        <el-slider
                v-model="priceRange"
                range
                show-stops
                :max="10">
        </el-slider>
    <div v-for="category in categories" :key="category.name" style="margin-bottom: 20px;">
        <FilterElement :category="category"></FilterElement>
    </div>
    </div></div>
</template>

<script>
    import FilterElement from "./FilterElement";
    export default {
        name: "LayoutFilter",
        components: {FilterElement},
        data() {
            return {
                categories : [
                    {
                        "name": "Saison",
                        "options": ["Durchgehend", "F/S 2019", "H/W 2019", "H/W 2021"]
                    },
                    {
                        "name": "Region Hersteller",
                        "options": ["Deutschland", "Frankreich", "Portugal"]
                    },
                    {
                        "name": "Tierart",
                        "options": ["Elch", "Kalb", "Krokodil", "Rind", "Schaf"]
                    },
                    {
                        "name": "Gerbung",
                        "options": ["Chrom", "Vegetabil"]
                    },
                    {
                        "name": "Hauttyp",
                        "options": ["Flanken", "Ganze Häute", "Hälften", "Hechte"]
                    },
                    {
                        "name": "Häute Grösse",
                        "options": ["0.6-1.3 m²", "1.0-1.6 m²"]
                    },
                    {
                        "name": "EAS-Farbe",
                        "options": ["Schwarz"]
                    },
                    {
                        "name": "Ausführung",
                        "options": ["Geprägt", "Geschliffen", "Lack", "Velour", "Vollnarbig"]
                    },
                    {
                        "name": "Haptik",
                        "options": ["Bügeln", "Walken"]
                    },
                    {
                        "name": "Look",
                        "options": ["Glänzend", "Matt"]
                    },
                    {
                        "name": "Herkunft Rohware",
                        "options": ["Argentinien", "Frankreich", "Indien", "Süddeutschland"]
                    },
                    {"name": "Vendor"}
                ],
            priceRange : [10, 90]
        }
        }
    }
</script>

<style scoped>
    .category {
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .space-bottom {
        margin-bottom: 20px;
    }

    .space-bottom-10 {
        margin-bottom: 10px;
    }
</style>