<template>
    <div>

        <el-form :model="productForm" label-width="120px" class="company-form">

        <el-row>
           <el-col>
               <el-form-item label="Name" prop="name" class="item" required>
                   <el-input v-model="productForm.name"></el-input>
               </el-form-item>
           </el-col>
           <el-col>
               <el-form-item label="Description">
                   <el-input type="textarea" v-model="productForm.description"></el-input>
               </el-form-item>
           </el-col>
            <el-col>
                <el-form-item label="Warensegment">
                    <SectorSelect></SectorSelect>
                </el-form-item>
            </el-col>
            <el-col>
                <el-form-item label="Preis">
                    <el-input v-model="productForm.preis"></el-input>
                </el-form-item>
            </el-col>

       </el-row>
            <el-upload
                    class="avatar-uploader"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="fileList"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload">
                <img v-if="imageUrl" :src="imageUrl" class="avatar">
                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>

            <el-upload
                    class="upload-demo"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    :on-preview="handlePreview"
                    :on-remove="handleRemove"
                    :file-list="fileList"
                    :on-change="simulate"
                    list-type="picture">
                <el-button size="small" type="primary">Click to upload</el-button>
                <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div>
            </el-upload>
        </el-form>
    </div>
</template>

<script>
    import SectorSelect from "../company/edit/SectorSelect";
    export default {
        name: "ProductEdit",
        components: {SectorSelect},
        data () {
            let productForm = {name : null, description : null, preis: null};
            let fileList = [];
            let imageUrl = '';


            return {
                productForm, fileList, imageUrl
            }
        },
        methods: {
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                console.log(file);

            },
            simulate() {
                console.log('on change');
                this.fileList = [{name: 'brandy', url: 'https://dfs.ams3.digitaloceanspaces.com/leder/brandy.png'}];
            },

            handleAvatarSuccess(res, file) {
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('Avatar picture must be JPG format!');
                }
                if (!isLt2M) {
                    this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG && isLt2M;
            }
        }
    }
</script>

<style scoped>
    .company-form {
        text-align: left;
    }

    .item {
        width: 500px;
    }
    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

</style>