<template>

    <div>
        <div class="card">
            <img :src="url" alt="" class="image" v-on:click="openDetail">
            <div class="container">
                <h4><b>{{product.name}}</b></h4>
                <p>{{product.description}}</p>
                <el-rate
                        v-model="product.rating"
                        disabled
                        show-score
                        text-color="#ff9900">
                </el-rate>
            </div>
        </div>
    </div>
    
</template>

<script>
    import axios from 'axios';

    export default {
        name: "ProductCard",
        image_url: "https://dfs.ams3.digitaloceanspaces.com/leder/",
        props: ['product'],
        methods: {
            openDetail() {
                this.$router.push({name : 'detail'})
            }
        },

        computed: {
            url: function() { return "https://dfs.ams3.digitaloceanspaces.com/leder/" + this.product.main_image}
        },
        mounted () {
            axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => (this.info = response))
        }
    }
</script>

<style scoped>

    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        width: 200px;
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    img {
        border-radius: 5px 5px 0 0;
        width: 200px;
    }
</style>