<template>
    <div class="main" v-if="product">


        <div class="left">&nbsp;</div>
        <div style="margin: 10px" class="right">
            <div class="product-title">{{product.name}}</div>
            <p class="description title">
                {{product.segment}} -> {{product["sub-segment"]}}
            </p>
            <!-- <div class="product-description">{{product.comment}}</div> -->
        </div>
        <div class="left">
            <p class="title">Farbe</p>
            <div class="wrapper">
                <div v-for="color in product.farbe" :key="color.name" class="p-col-3 container">
                    <img :src="getColorImage(color.image)" :key="color.image" width="140px" height="140px">
                    <div class="bottom-right">
                        {{color.name}} / {{color.eas}}
                    </div>
                </div>
            </div>
        </div>

        <div class="right">


            <p class="title">Produktdetails</p>
            <div class="row">
                <div class="col-lg-6">
                    <table class="table text-sm">
                        <tbody>
                        <tr>
                            <th class="text-uppercase font-weight-normal border-0">Tierart</th>
                            <td class="text-muted border-0">{{product["animal-type"]}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Gerbung</th>
                            <td class="text-muted ">{{product.gerbung}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Hauttyp</th>
                            <td class="text-muted ">{{product.hauttyp}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Häute Grösse</th>
                            <td class="text-muted ">{{product["haeute-groesse"]}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Ausführung</th>
                            <td class="text-muted ">{{product.ausfuehrung}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Haptik</th>
                            <td class="text-muted ">{{product.haptik}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Look</th>
                            <td class="text-muted ">{{product.look}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Herkunft Rohware</th>
                            <td class="text-muted ">{{product["herkunft-rohware"]}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Saison</th>
                            <td class="text-muted ">{{product.saison}}</td>
                        </tr>
                        <tr>
                            <th class="text-uppercase font-weight-normal ">Region Hersteller</th>
                            <td class="text-muted ">{{product["region-hersteller"]}}</td>
                        </tr>

                        </tbody>
                    </table>

                    <p class="product-price">{{product.price}} {{product["price-currency"]}} / {{product["price-unit"]}}</p>


                </div>
            </div>
        </div>

    </div>

</template>

<script>
    export default {
        name: "ProductDetail",
        data() {
            let
                    product= {
                        "name": "Paloma",
                        "comment": "Das beste Leder in Hehlen!",
                        "infos": "Alle Produkte sind im €/m² berechnet",
                        "leather-type": "Wir bieten Lederstärken von 0.8-1.8 mm an. \nBitte teilen Sie uns Ihre Präfenrenzen hier unten.\n\nIch möchte die folgende Lederstärke: x.x-x.x mm",
                        "animal-type": "Rind",
                        "gerbung": "Vegetabil",
                        "hauttyp": "Hälften",
                        "haeute-groesse": "0.6-1.3 m²",
                        "ausfuehrung": "Vollnarbig",
                        "haptik": "Walken",
                        "look": "Glänzend",
                        "herkunft-rohware": "Süddeutschland",
                        "saison": "H/W 2019",
                        "region-hersteller": "Deutschland",
                        "hersteller-name": "Heller Leder",
                        "segment": "Obermaterial",
                        "sub-segment": "Leder",
                        "price": "52",
                        "price-currency": "€",
                        "price-unit": "unit",
                        "seller": {
                            "name": "Heller Leder",
                            "code": "123"
                        },
                        "farbe": [
                            {
                                "name": "Brandy",
                                "image": "brandy.png",
                                "eas": "1"
                            },
                            {
                                "name": "Caccia",
                                "image": "caccia.png",
                                "eas": "3"
                            },
                            {
                                "name": "Cameo",
                                "image": "cameo.png",
                                "eas": "5"
                            },
                            {
                                "name": "Canna",
                                "image": "canna.png",
                                "eas": "3"
                            },
                            {
                                "name": "Caramello",
                                "image": "caramello.png",
                                "eas": "1"
                            },
                            {
                                "name": "Cement",
                                "image": "cement.png",
                                "eas": "1"
                            },
                            {
                                "name": "Ciliegia",
                                "image": "ciliegia.png",
                                "eas": "1"
                            }
                        ]
                    };
            return {
                product
                }
        },
        methods: {
            getColorImage: function(color){
                return "https://dfs.ams3.digitaloceanspaces.com/leder/"  + color;
    }
        }
    }
</script>

<style scoped>
    .main {
        font-family: "Montserrat",sans-serif;
    }
    .title {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: .9rem;
        color: #495057;
    }

    .description {
        text-decoration: underline;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .bottom-right {
        position: absolute;
        bottom: 15px;
        right: 16px;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .left {
        float: left;
        width: 600px;
    }
    .font-weight-normal {
        font-weight: 400 !important;

    }
    .table th, .table td {

        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;

    }
    .text-uppercase {

        text-transform: uppercase;
        letter-spacing: 0.1em;

    }
    .font-weight-normal {

        font-weight: 400 !important;

    }
    .text-uppercase {

        text-transform: uppercase !important;

    }
    .border-0 {

        border: 0 !important;

    }

    .right {
        float: left;
        width: 400px;
        background-color: white;
        display: block;
        padding-left: 40px;
    }

    .table-details {
        display: -ms-flexbox;
        display: flex;

        -ms-flex-wrap: wrap;

        flex-wrap: wrap;

        margin-right: -15px;

        margin-left: -15px;
    }
    .col-lg-6 {

        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: 500px;

        text-align: left;
    }

    .text-sm {

        font-size: .7875rem;

    }
    .table {

        width: 100%;
        margin-bottom: 1rem;
        color: #212529;

    }
    table {

        border-collapse: collapse;

    }

    .product-title {
        margin-bottom: .5rem;
        font-weight: 700;
        line-height: 1.1;
        font-size: 4.05rem;
    }

    .product-description {
        color: #868e96;
        font-size: .9rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
    }

    table th, .table td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #e9ecef;
    }
    .text-uppercase {
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .text-muted {
        color: #868e96 !important;
    }

    .product-price {
        font-size: 26px;
        line-height: 30px;
        min-height: 30px;
        color: #e60021;
        font-weight: 600;
        padding-left: 12px;
    }

    .shopping-button {
        width: 300px;
        height: 200px;
        padding-left: 12px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-gap: 10px;
    }

</style>