<template>
    <div class="wrapper">
        <div v-for="product in productList" :key="product.code">
            <ProductCard :product="product"></ProductCard>
        </div>
    </div>
</template>

<script>
    import ProductCard from "./ProductCard";
    export default {
        name: "ProductList",
        components: {ProductCard},
        serverurl: "https://dfs.ams3.digitaloceanspaces.com/leder/",
        data() {
            let productList = [
                {
                    "code": "10000000048",
                    "name": "Paloma",
                    "description": "Das beste Leder in Hehlen!",
                    "lederstaerke": "Wir bieten Lederstärken von 0.8-1.8 mm an.\nBitte teilen Sie uns Ihre Präfenrenzen hier unten.\nIch möchte die folgende Lederstärke:\nx.x-x.x mm",
                    "main_image":"caccia.png",
                    "farbe": [],
                    "rating": 3.8
                },
                {
                    "code": "10000000052",
                    "name": "Verona",
                    "description": "Unser Bestes Verona!",
                    "lederstaerke": "Wir bieten Lederstärken von 0.8-1.8 mm an.\nBitte teilen Sie uns Ihre Präfenrenzen hier unten.\nIch möchte die folgende Lederstärke:\nx.x-x.x mm",
                    "main_image":"caramello.png",
                    "farbe": [],
                    "rating": 3.6
                },
                {
                    "code": "10000000070",
                    "name": "Mantua",
                    "description": "Unser Bestes Mantua!",
                    "lederstaerke": "Wir bieten Lederstärken von 0.8-1.8 mm an.\nBitte teilen Sie uns Ihre Präfenrenzen hier unten.\nIch möchte die folgende Lederstärke:\nx.x-x.x mm",
                    "main_image":"cameo.png",
                    "farbe": [],
                    "rating": 3.3
                },
                {
                    "code": "10000000065",
                    "name": "Parigi",
                    "description": "Unser Bestes Parigi!",
                    "lederstaerke": "Wir bieten Lederstärken von 0.8-1.8 mm an.\nBitte teilen Sie uns Ihre Präfenrenzen hier unten.\nIch möchte die folgende Lederstärke:\nx.x-x.x mm",
                    "main_image":"cement.png",
                    "farbe": [],
                    "rating": 2.7
                },
                {
                    "code": "234",
                    "name": "Firenze",
                    "description": "Unser Bestes Parigi!",
                    "lederstaerke": "Wir bieten Lederstärken von 0.8-1.8 mm an.\nBitte teilen Sie uns Ihre Präfenrenzen hier unten.\nIch möchte die folgende Lederstärke:\nx.x-x.x mm",
                    "main_image":"brandy.png",
                    "farbe": [],
                    "rating": 4.7
                }
                ];
            return {
                productList
        }
        }
    }
</script>

<style scoped>
    .wrapper {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-gap: 10px;
    }
</style>