<template>
  <el-container>
    <LayoutFilter></LayoutFilter>
    <el-main>
      <ProductList></ProductList>
      <ProductCard></ProductCard>
      <!--
      <el-table :data="tableData">
        <el-table-column prop="date" label="Date" width="140">
        </el-table-column>
        <el-table-column prop="name" label="Name" width="120">
        </el-table-column>
        <el-table-column prop="address" label="Address">
        </el-table-column>
      </el-table>-->
    </el-main>
  </el-container>

</template>

<style>

</style>

<script>
  import ProductCard from "./product/ProductCard";
  import ProductList from "./product/ProductList";
  import LayoutFilter from "./layout/LayoutFilter";
  export default {
    components: {LayoutFilter, ProductList, ProductCard},
    data() {
      const item = {
        date: '2016-05-02',
        name: 'Tom',
        address: 'No. 189, Grove St, Los Angeles'
      };
      return {
        tableData: Array(20).fill(item)
      }
    }
  };
</script>