<template>
  <div id="app">
   <LayoutHeader></LayoutHeader>
    <router-view class="main"/>
  </div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
* {
  padding:0;
  margin:0;
}
  .main {
    margin-left: 20px;
  }
</style>
<script>
  import LayoutHeader from "./components/layout/LayoutHeader";
  export default {
    components: {LayoutHeader}
  }
</script>